<container class="posts">
    {{#each posts}}
        <a href="/dashboard/edit/{{id}}" class="list-item">
            <span>{{title}}</span>
            <span>{{format_date creadtedAt}}</span>
        </a>
</container>