<div class="card">

    <div class="card-header">
        <h2>Sign Up</h2>
    </div>

    <div id="signup" role="tabpanel">

        <form id="signup-form" class="card-body">
            <div>
                <label for="username-signup-input">Username</label>
                <input type="text" id="username-signup-input" />
            </div>

            <div>
                <label for="password-signup-input">Password</label>
                <input type="password" id="password-signup-input" />
            </div>

            <button type="submit" id="signup-btn" class="btn" >Signup!</button>
            <a href="/login">Login instead!</a>
        </form>

    </div>

</div>

<script src="/js/signup.js"></script>