:root {
    --bg1: antiquewhite;
    --bg2: white;
    --txt1: black;
    --txt2: darkslategrey;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg1);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--txt2);
    line-height: 1.5;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--txt2);
    line-height: 1.25;
}

@media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
}
  